@model WebSistemaAlguel.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo_carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo_carro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor_carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor_carro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano_carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano_carro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alugado_carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alugado_carro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fabricante.cod_fabricante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cod_carro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
